@model Lab2Community.Models.View.StatisticsViewModel
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome @User.Identity.GetUserName()!</h1>
    <p class="lead">Your last visit was @Model.LastLogin</p>
    <p>You have been logged in @Model.LoginsLastMonth times last month.</p>
    <p>You have a total of @Model.UnreadMessagesCount unread messages.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Statistics</h2>
        <p>
           Unread Messages: @Model.UnreadMessagesCount
        </p>
    </div>
    <div class="col-md-4">
        <h2>Messages</h2>
        <p>Kanske länka vidare till meddelanden via knappen?</p>
        <p><a class="btn btn-default" href="/Message/List">Messages</a></p>
    </div>
    <div class="col-md-4">
        <h2>Group</h2>
        <p>Visa grupper osv?</p>
        <p><a class="btn btn-default" href="/Groups/Index">Learn more &raquo;</a></p>
    </div>
</div>